


body{
  background-image:url("ani.jpg");
  padding-top:5%;
}
.btn{
  border-radius:5px;
  -webkit-animation: bottom 3s normal  0s 1 both;
}
container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}
.date{
  font-weight:bolder;
}
.head{
  color:white;
  font-weight:bolder;
  text-align:center;
}
.input{
  border-radius:5px;
  -webkit-animation: bottom 2s normal  0s 1 both;
  background:lightgrey;
  padding-left:5%;
  border:1px;
  border-style:solid;
  width:95%;
  height:35px;
}
.inputs{
  -webkit-animation: bottom 2s normal  0s 1 both;
}
l{
  color:white;

}
.note{
  font-size:12px;
  -webkit-animation: bottom 2.5s normal  0s 1 both;
}
p{
  color:white;
  -webkit-animation: bottom 2.5s normal  0s 1 both;
}
.p{
     color:white;
  -webkit-animation: bottom 2.5s normal  0s 1 both;
  font-weight:bolder;
}
label{
  -webkit-animation: bottom 2.5s normal  0s 1 both;
}
.signup{
  margin:right;
}

     @-webkit-keyframes bottom{
  from{
  -ms-webkit-transform:translate(0px, 1000px);
  -webkit-transform:translate(0px, 1000px);
  transform:translate(0px, 1000px);
}
}

@media only screen and (orientation:landscape){body{
  background-image:("ani.jpg");}
  .input{
    background:white;
} 
     @-webkit-keyframes bottom{
  from{
  -ms-webkit-transform:translate(0px, 1000px);
  -webkit-transform:translate(0px, 1000px);
  transform:translate(0px, 1000px);
}
}
container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}